<div class="game-ui" id="gameUI">
    <div class="ui-left">
        <div class="progress-label">PROGRESS</div>
        <div class="progress-bar">
            <div class="progress-fill" id="progressFill"></div>
        </div>
    </div>
    <div class="ui-center">
        <div class="radness">
            <span class="label">RADNESS</span>
            <span class="value" id="radnessValue">0</span>
        </div>
    </div>
    <div class="ui-right">
        <div class="hp-label">HP</div>
        <div class="hp-bar">
            <div class="hp-fill" id="hpFill"></div>
        </div>
        <div class="hp-value" id="hpValue">6000</div>
    </div>
</div>
